<h2>Liste des films</h2>
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-4" ng-repeat="film in $ctrl.films">
            <div class="thumbnail">
                <div class="caption">
                    <h4>{{ film.title }}</h4>
                    <poster m="film"></poster></p>
                    <p ng-hide="$ctrl.controlfilm(film.id)"><button type="button" class="btn btn-info" 
                    ng-click="$ctrl.addItem(film)"><span class="glyphicon glyphicon-film"></span></button></p>
                </div>
            </div>
        </div>
    </div>
